# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://yourusername:yourusername@localhost:5432/yourusername?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://yourusername:yourusername@localhost:5432/yourusername"


# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_clerk_secret_key

NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"

SIGNING_SECRET="whsec_test_signing_secret"
